.stats-card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 

    width: 80%;
    border: solid black 2px;
    margin: 40px;
}

table {
    justify-content: center;
    align-items: center;
}

.sc1 { grid-area: 1 / 1 / 3 / 3; border-bottom: solid black 2px; }
.sc2 { grid-area: 1 / 3 / 3 / 6; border-bottom: solid black 2px; }
.sc3 { grid-area: 3 / 1 / 6 / 3; }
.sc4 { grid-area: 3 / 3 / 4 / 6; }
.sc5 { grid-area: 4 / 3 / 5 / 6; }
.sc6 { grid-area: 5 / 3 / 6 / 6; } 